[Unit]
Description=Commissaire Cluster Execution Service
Documentation=https://commissaire.readthedocs.io/
After=commissaire-storage.service
Requires=commissaire-storage.service

[Service]
ExecStart=/usr/bin/commissaire-clusterexec-service
PIDFile=/var/run/commissaire-clusterexec-service.pid
Type=simple

[Install]
WantedBy=multi-user.target
