[Unit]
Description=Commissaire Container Manager Service
Documentation=https://commissaire.readthedocs.io/
After=network.target

[Service]
ExecStart=/usr/bin/commissaire-containermgr-service
PIDFile=/var/run/commissaire-containermgr-service.pid
Type=simple

[Install]
WantedBy=multi-user.target
