[Unit]
Description=Commissaire Storage Service
Documentation=https://commissaire.readthedocs.io/
After=network.target

[Service]
ExecStart=/usr/bin/commissaire-storage-service
PIDFile=/var/run/commissaire-storage-service.pid
Type=simple

[Install]
WantedBy=multi-user.target
